.clientsDashboardContainer {
  background-color: var(--clr-zeus);
  padding: 1rem;
  color: var(--clr-soap-stone);
  font-family: "Raleway";
  margin: 1rem 0;
  }

  @media (min-width: 50rem){

    .clientsDashboard{
      display: grid;
      grid-template-columns: 1fr 5fr;
      gap: 1rem;
    }
    
  }

.clientsDashboardBackLink {
  font-size: 0.6em;
  font-weight: bold;
  margin-block: 1rem;
  background-color: var(--clr-coral-red);
  color: var(--clr-soap-stone);
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  border-radius: .1rem;
}

.clientsDashboardHeadline{
  font-size: 1.5em;
  text-align: center;
  margin: 2rem 0 1rem;
  font-family: "Raleway";
}

.clientSummaryHeadline{
  color: var(--clr-golden-yellow);
  text-align: center;
}

.clientSummaryCards{
  background-color: var(--clr-zeus-blend-5);
  padding: .5rem;
  border-radius: .1rem;
  margin-block: 1rem;
}

.clientSummaryCard{ 
  border-bottom: .1rem solid var(--clr-soap-stone);
  margin-bottom: 1rem;
}

.clientSummaryCardTitle{
  color: var(--clr-golden-yellow);
}

.clientSummaryCardValue{
  font-size: 1.5em;
  font-weight: 700;
}

.clientActionBtns{
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .75em;
}


.clientActionBtn{
  width: 100%;
  padding: .5rem;
  cursor: pointer;
  border: none;
  border-radius: .1rem;
}

.clientActionBtn.newclientBtn{
  background-color: var(--clr-golden-yellow);
}

.clientActionBtn.newLoanBtn{
  background-color: var(--clr-soap-stone);

}

.clientsDashboardContent{
    background-color: var(--clr-zeus-blend-5);
  padding: 1rem;
  border-radius: .1rem;
  margin-block: 1rem;
}

.clientFilterBtns{
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
  font-size: .75em;
}

.clientFilterBtns button{
  background-color: var(--clr-golden-yellow);
  width: 100%;
  padding: .5rem;
  cursor: pointer;
  border: none;
  border-radius: .1rem;
}

.clientsListSection{
  font-size: clamp(.75em, 1.25vw, 1.25em);
}

.clientsListHeadline{
  text-align: center;
  margin: 2rem 0 0rem;
  font-size: 1.5em;
  color: var(--clr-golden-yellow-2);
  text-decoration: underline;
}

.clientsTable{
  background-color: var(--clr-soap-stone-blend-2);
  padding-inline: .5rem;
  width: 100%;
  margin-block: .5rem;
}

.clientsTableHead{
  background-color: green;
}

.actions-cell a{
  background-color: var(--clr-golden-yellow);
  padding: .2em 1rem;
  color: var(--clr-soap-stone);
  border-radius: .1rem;
  color: var(--clr-zeus);
  font-size: .75em;
}

.actions-cell a:hover{
  background-color: var(--clr-golden-yellow-2);
}