.journalEntryListContainer {
  background-color: var(--clr-charcoal-gray);
  color: var(--clr-soap-stone);
  margin: 1rem 0;
  min-height: calc(100vh - 10rem);
  padding: 1rem;
}

.journalEntryListHeading {
    
}

.journalEntryListBackLink {
  color: var(--clr-charcoal-gray);
  background-color: var(--clr-soap-stone);
  text-decoration: none;
  font-size: 0.75em;
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.journalEntryListBackLink:hover {
  background-color: var(--clr-davy-grey);
}

.journalEntryListHeadline {
  font-family: "Raleway-ExtraBold";
  font-size: clamp(1em, 2vw, 2em);
  text-align: center;
  margin-top: 1rem;
}

.addJournalEntryListBtn {
  background-color: var(--clr-golden-yellow);
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.1rem;
  background-color: var(--clr-dark-mint);
  color: var(--clr-platinum);
  border: 0.01rem solid var(--clr-platinum);
}

.addJournalEntryListBtn:hover {
  background-color: var(--clr-platinum);
  color: var(--clr-dark-mint);
  border: 0.01rem solid var(--clr-dark-mint);
}

.journalEntryListFilters {
  margin-block: 1rem;
  padding: 0.5rem;
}

.journalEntryListFiltersHeadline {
  color: var(--clr-golden-yellow);
}

.journalEntryListFilterGroup {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
