.customersDashboardContainer {
  background-color: var(--clr-zeus);
  padding: 1rem;
  color: var(--clr-soap-stone);
  font-family: "Raleway";
  margin: 1rem 0;
  }

  @media (min-width: 50rem){

    .customersDashboard{
      display: grid;
      grid-template-columns: 1fr 5fr;
      gap: 1rem;
    }
    
  }

.customersDashboardBackLink {
  font-size: 0.6em;
  margin-block: 1rem;
  background-color: var(--clr-coral-red);
  color: var(--clr-soap-stone);
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  border-radius: .1rem;
}

.customersDashboardHeadline{
  font-size: 1.5em;
  text-align: center;
  margin: 2rem 0 1rem;
  font-family: "Raleway";
}

.customerSummaryHeadline{
  color: var(--clr-golden-yellow);
  text-align: center;
}

.customerSummaryCards{
  background-color: var(--clr-zeus-blend-5);
  padding: .5rem;
  border-radius: .1rem;
  margin-block: 1rem;
}

.customerSummaryCard{ 
  border-bottom: .1rem solid var(--clr-soap-stone);
  margin-bottom: 1rem;
}

.customerSummaryCardTitle{
  color: var(--clr-golden-yellow);
}

.customerSummaryCardValue{
  font-size: 1.5em;
  font-weight: 700;
}

.customerActionBtns{
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .75em;
}


.customerActionBtn{
  width: 100%;
  padding: .5rem;
  cursor: pointer;
  border: none;
  border-radius: .1rem;
}

.customerActionBtn.newCustomerBtn{
  background-color: var(--clr-golden-yellow);
}

.customerActionBtn.newLoanBtn{
  background-color: var(--clr-soap-stone);

}

.customersDashboardContent{
    background-color: var(--clr-zeus-blend-5);
  padding: 1rem;
  border-radius: .1rem;
  margin-block: 1rem;
}

.customerFilterBtns{
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
  font-size: .75em;
}

.customerFilterBtns button{
  background-color: var(--clr-golden-yellow);
  width: 100%;
  padding: .5rem;
  cursor: pointer;
  border: none;
  border-radius: .1rem;
}

.customersListSection{
  font-size: clamp(.75em, 1.25vw, 1.25em);
}

.customersListHeadline{
  text-align: center;
  margin: 2rem 0 0rem;
  font-size: 1.5em;
  color: var(--clr-golden-yellow-2);
  text-decoration: underline;
}

.customersTable{
  background-color: var(--clr-soap-stone-blend-2);
  padding-inline: .5rem;
  width: 100%;
  margin-block: .5rem;
}

.customersTableHead{
  background-color: green;
}