.landingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Make it take full viewport height */
  min-height: calc(100vh - 10rem); /* Adjust for header and footer height */
  width: 100%;
  
}

.landingPageContent {
  padding: 2rem;
  border-radius: 0.1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: var(--max-width-xsm); /* Adjusted max-width for content */
  text-align: center;
  background-color: var(--clr-charcoal-gray); /* Dark background for contrast */
}

.landingPageHeadline {
  font-size: clamp(1em, 2vw, 2em); /* Responsive font size */
  color: var(--clr-soap-stone);
  margin-bottom: 2rem;
}


.loginBtn {
  width: 100%; /* Make button take full width of its container */
  color: var(--clr-zeus);
  border: none;
  border-radius: 0.1rem;
  font-size: 1em;
  padding: 0.5rem 5rem; /* Base padding */
  outline: none;
  background-color: var(--clr-golden-yellow);
  cursor: pointer;
  margin: 1rem 0;
}

.loginBtn:hover {
  background-color: var(--clr-citron);
}

.loginBtn:focus {
  outline: none; /* Remove default outline */
}