/* @import "./components/css/abstract/fonts.css"; */
@import "./components/css/abstract/colors.css";
@import "./components/css/abstract/resets.css";
/* @import "./components/css/abstract/transitions.css"; */

.appContainer {
  color: var(--clr-zeus);
  background-color: var(--clr-soap-stone);
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header (auto), Main (1fr), Footer (auto) */
  min-height: 100vh; /* Make the grid container at least the height of the viewport */
}

.appPrimaryNavbarContainer {
  background-color: var(--clr-zeus);
  padding: 1rem;
}

.appPrimaryNavbar {
  margin: auto;
  max-width: var(--max-width-xl);
}



.primaryNavLogo {
  max-height: 2.5rem;
}

.appPrimaryNavbarHeadline{
  color: var(--clr-soap-stone);
}

.outletSection {
  /* border: .1rem solid black; */
  max-width: var(--max-width-xl);
  margin: 1rem 0;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}

.appFooter {
  background-color: var(--clr-lava-red);
  padding: 1rem;
  margin-top: auto;
  z-index: 100;
}

.appFooterCopyright {
  color: var(--clr-soap-stone);
  text-align: center;
  font-size: 0.5em;
}
