@import "./components/css/abstract/fonts.css";
@import "./components/css/abstract/colors.css";
@import "./components/css/abstract/resets.css";
@import "./components/css/abstract/transitions.css";

.appContainer {
  color: var(--clr-soap-stone);
  background-color: var(--clr-soap-stone);
  font-family: "Raleway-Medium", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header (auto), Main (1fr), Footer (auto) */
  min-height: 100vh; /* Make the grid container at least the height of the viewport */
}

.appPrimaryNavbarContainer {
  background-color: var(--clr-charcoal-gray);
  padding: 1rem;
}

.appPrimaryNavbar {
  margin: auto;
  max-width: var(--max-width-xl);
}

.primaryNavLogo {
  max-height: 2rem;
}

.appPrimaryNavbarHeadline {
  color: var(--clr-soap-stone);
  font-family: "Raleway-Light";
}

.outletSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10rem); /* Adjust for header and footer height */
  background-image: url("./assets/logo-images/red-diamond-icon-logo-app-bg.svg");
  background-color: var(--clr-zeus);
}

.appFooter {
  background-color: var(--clr-lava-red);
  padding: 1rem;
  margin-top: auto;
  z-index: 100;
}

.appFooterCopyright {
  color: var(--clr-soap-stone);
  text-align: center;
  font-size: 0.4em;
}
