.clientsDashboardContainer {
  background-color: var(--clr-charcoal-gray);
  color: var(--clr-soap-stone);
  margin: 1rem 0;
  min-height: calc(100vh - 10rem); /* Adjust for header and footer height */
}

.clientsDashboardHeading{
  padding: 1rem;
}

@media (min-width: 50rem) {
  .clientsDashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
  }
}

.clientsDashboardBackLink {
  color: var(--clr-charcoal-gray);
  background-color: var(--clr-soap-stone);
  text-decoration: none;
  font-size: 0.75em;
  transition: color 0.2s ease;
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.clientsDashboardBackLink:hover {
  background-color: var(--clr-davy-grey);
}

.clientsDashboard{
  padding: 1rem;
}

.clientsDashboardHeadline {
  font-family: "Raleway-ExtraBold";
  font-size: clamp(1em, 1.5vw, 1.5em);
  text-align: center;
  margin-top: 1rem;
}

.clientSummaryHeadline {
  color: var(--clr-golden-yellow);
  text-align: center;
  font-family: "Raleway-LightItalic";
  font-size: 0.8em;
}

.clientSummaryCards {
  background-color: var(--clr-zeus);
  padding: 0.5rem;
  border-radius: 0.1rem;
  margin-top: 1rem;
}

.clientSummaryCard {
  border-bottom: 0.1rem solid var(--clr-soap-stone);
  margin-bottom: 1rem;
}

.clientSummaryCardTitle {
  color: var(--clr-golden-yellow);
  font-family: "Raleway-LightItalic";
}

.clientSummaryCardValue {
  font-size: 1.5em;
  font-family: "Raleway-Bold";
}

.clientsDashboardPanel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  align-items: flex-end;
}

.loanSummarySection { /* Renamed for loans */
    /* background-color: var(--clr-zeus-blend-5); Removed background, now in loansDashboardPanel */
    padding: .5rem;
    border-radius: .1rem;
    margin-block: 1rem;
}

.clientActionBtns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1em;
  font-family: "Raleway-Bold";
}

.clientActionBtn {
  background-color: var(--clr-golden-yellow);
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.1rem;
}

.clientActionBtn.newClientBtn {
  background-color: var(--clr-golden-yellow);
}

.clientActionBtn.newClientBtn:hover{
  background-color: var(--clr-sandy-yellow);
}

.clientActionBtn.newLoanBtn {
  background-color: var(--clr-dark-mint);
  color: var(--clr-platinum);
  border: 0.01rem solid var(--clr-platinum);
}

.clientActionBtn.newLoanBtn:hover {
  background-color: var(--clr-platinum);
  color: var(--clr-dark-mint);
  border: .01rem solid var(--clr-dark-mint);
}

.clientsDashboardContent {
  background-color: var(--clr-zeus);
  padding-inline: 1rem;
  border-radius: 0.1rem;
  margin-block: 1rem;
}

.clientsFilterBtnHeadline {
  font-family: "raleway-lightItalic";
  color: var(--clr-platinum);
  margin-top: 0.5rem;
}

.clientFilterBtns {
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
  font-size: clamp(0.65em, 1.25vw, 1.25em);
}

.clientFilterBtns button {
  background-color: var(--clr-zeus-blend-5);
  color: var(--clr-soap-stone);
  border: none;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.1rem;
}

.clientFilterBtns button:hover,
.clientFilterBtns button:focus {
  background-color: var(--clr-golden-yellow);
  color: var(--clr-zeus);
}

.clientsListSection {
  font-size: clamp(0.75em, 1.25vw, 1.25em);
}

.clientsListHeadline {
  text-align: center;
  margin: 3rem 0 0rem;
  font-size: clamp(1.25em, 2vw, 2em);
  color: var(--clr-soap-stone);
  text-decoration: underline;
}

.clientsTable {
  background-color: var(--clr-zeus);
  width: 100%;
  margin-block: 0.5rem;
  border-collapse: collapse;

}

.clientsTableHead {
  color: var(--clr-soap-stone);
  font-family: "Raleway-Light";
}

.clientsTable th,
.clientsTable td {
  border: 1px solid var(--clr-neutral-300);
  text-align: left;
  white-space: nowrap;
  font-size: clamp(0.5em, 1.25vw, 1.25em);
  font-family: "Raleway-Light";
  padding: 0 .1rem;
  margin: 0;
}

.clientsTable tbody tr:nth-child(even) {
  background-color: var(
    --clr-soap-stone-blend-2
  ); /* Slightly different background for even rows */
}

.actions-cell a {
  background-color: var(--clr-golden-yellow);
  padding: 0.2em 1rem;
  color: var(--clr-soap-stone);
  border-radius: 0.1rem;
  color: var(--clr-zeus);
  font-size: 0.75em;
}

.actions-cell a:hover {
  background-color: var(--clr-citron);
}

/* Status specific colors */
.loanStatus.active {
  background-color: var(--clr-active);
}
.loanStatus.pending {
  background-color: var(--clr-pending);
}
.loanStatus.overdue {
  background-color: var(--clr-overdue);
}
.loanStatus.default {
  background-color: var(--clr-default);
} /* Using zeus for defaulted */
.loanStatus.paid {
  background-color: var(--clr-paid);
} /* Using blue for paid */
